@media(max-width: 1400px) {
    .header__banner .container {
        grid-template: 400px 294px / 450px 450px;
        grid-template-areas: 'card3 card3'
            'card1 card2';
        justify-content: center;
    }

    .card {
        justify-content: center;
        padding: 0;
    }

    .leaders__cards .card::before {
        left: unset;
        right: 22px;
    }

    .leaders__cards {
        grid-template: repeat(4, 485px) / repeat(3, 284px);
    }

    .leaders__cards .card {
        overflow: hidden;
    }

    .leaders__cards .card::before {
        transform: rotate(90deg);
        top: 25px;
        right: 65%;
    }

    .news__cards {
        grid-template-columns: minmax(200px, 550px) minmax(200px, 550px);
        grid-template-rows: minmax(200px, 450px);
        row-gap: 24px;
    }

    .news__cards .card {
        align-items: center;
        justify-content: center;
    }

    .news__cards .card::before {
        transform: none;
        right: unset;
    }
    
    .card__content-time {
        align-self: start;
    }

    .news__cards .card .card__content .card__content-desc {
        margin-bottom: 50px;
    }

}

@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .nav__list {
        display: none;
    }

    .nav__link {
        color: var(--white);
    }

    .menu__chart-menu {
        display: flex;
    }

    .nav__menu {
        display: flex;
    }

    .nav__logo-title h1 {
        margin: unset;
    }

    .news__cards .card .card__content {
        text-align: center;
        margin: 70px 30px 30px;
    }

    footer .container {
        column-gap: 60px;
    }

    .footer__service, .footer__products {
        margin: 0;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header__banner .container {
        grid-template: 400px 290px / 350px 350px;
        grid-template-areas: 'card3 card3'
            'card1 card2';
    }

    #card1,
    #card2 {
        column-gap: 10px;
    }

    .leaders__cards {
        grid-template: repeat(6, 485px) / repeat(2, 350px);
    }
    
    .news__cards {
        grid-template-columns: minmax(500px, 600px);
        grid-template-rows: repeat(2, 470px);
    }

    .contacts__number-box {
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header__banner .container {
        grid-template-rows: repeat(3, 300px);
        grid-template-columns: minmax(230px, 500px);
        grid-template-areas: 'card3''card1''card2';
    }

    .card__img-big {
        max-width: 200px;
        width: 100%;
    }

    .title {
        font-size: 23px;
    }

    .leaders__cards {
        grid-template-rows: repeat(12, 300px);
        grid-template-columns: minmax(230px, 500px);
    }

    .leaders__cards .card {
        flex-direction: row;
        column-gap: 10px;
    } 

     .leaders__cards .card::before {
        top: unset;
        bottom: unset;
        right: unset;
        margin-right: 423px;
        padding: 11px 33px;
    }

    .leaders__cards .card .card__btns {
        row-gap: 3px;
        top: unset;
        bottom: unset;
        right: 15px;
        left: unset;
    }

    .leaders__cards .card .card__img {
        object-fit: contain;
        max-width: 146px;
        width: 100%;
    }

    .leaders__cards .card .card__content {
        max-width: 200px;
    }

    footer .container {
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 100px;
        text-align: center;
    }

    .social__box {
        justify-content: center;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .nav .container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        row-gap: 20px;
        padding: 20px 0;
    }

    .nav__logo-title h1,
    .nav__btns {
        margin: 0;
        column-gap: 30px;
    }

    .card {
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .card::before, .leaders__cards .card::before {
        transform: rotate(90deg);
        top: 20px;
        right: 65%;
        overflow: hidden;
        
    }

    .card::before {
        right: unset;
        left: unset;
        margin-right: 60%;
    }

    .leaders__cards {
        grid-template-rows: repeat(12, 331px); 
    }
    
    .leaders__cards .card {
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
        column-gap: 5px;
        padding: 10px;
    }

    .leaders__cards .card::before {
        left: unset;
        margin: 0;
    }

    .card .card__btns {
        top: -1px !important;
        right: unset !important;
        margin-left: 65%;
    }

    .leaders__cards .card .card__content {
        max-width: unset;
        row-gap: 18.39px;
    }

    .card__content-desc, .card__content-title, .card__content-price {
        font-size: 16px;
        line-height: 18px;
    }

    .leaders__cards .card::before {
        left: unset !important;
        right: unset !important;
        margin-right: 65%;
    }
    
    .news__cards {
        grid-template-columns: minmax(250px, 500px);
        grid-template-rows: repeat(2, 550px);
    }

    .news__cards .card {
        padding: 20px 0;
    }

    .news__cards .card .card__content {
        margin: 56px 31px 17px; 
    }

    .news__cards .card .card__content .card__content-title, .news__cards .card .card__content .card__content-desc{
        margin-bottom: 20px;
    }

    .card__content-time {
        align-self: center;
    }
}

@media(max-height: 500px) {
    .nav__menu-chart {
        top: 10%;
    }
}
