@import url(fonts.css);

:root {
    --white: #fff;
    --black: #000;
    --not-black: #323232;
    --body-bg: #F1F1F1;
    --card-bg: #E1E1E1;
    --line: #E5E5E5;
    --chart-menu: #32323252;
    --circle-bg: #9b9b9b14;
    --circle-hover: #a3a3a385;
    --link-hover: #ff0000;
    --banner-bg: linear-gradient(0deg, rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7));
    --montserrat-r: 'Montserrat_Regular';
    --montserrat-b: 'Montserrat_Bold';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    row-gap: 60px;
    user-select: none;
    background: var(--body-bg);
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: grid;
    row-gap: 40px;
}

.title {
    font-family: var(--montserrat-r);
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}

.nav .container {
    display: flex;
    padding: 50px 20px 20px;
}

.nav::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    height: 2px;
    background: var(--black);
    border-radius: 0.5px;
}

.nav__logo-title h1,
.logo-title h1 {
    margin-right: 50px;
    font-family: var(--montserrat-b);
    font-size: 32px;
    line-height: 23px;
    text-transform: uppercase;
    color: var(--not-black);
}

.nav__list {
    display: flex;
}

.nav__link,
.link, .contacts__adress, .contacts__number, .contacts__email {
    font-family: var(--montserrat-r);
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: var(--not-black);
}

.nav__links {
    margin: 0 42px 0 0;
}

.nav__links:nth-child(1) {
    margin: 0 62px 0 0;
}

.nav__links:nth-child(4) {
    margin: 0 19px 0 0;
}

.nav__links:nth-child(5) {
    margin: 0 44px 0 0;
}

.nav__links:last-child {
    margin: 0;
}

.nav__menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    z-index: -1;
    transition: .5s;
}

.nav__menu-chart {
    width: 12em;
    position: relative;
}

.nav__menu-chart:before {
    content: "";
    display: block;
    padding-top: 240px;
    z-index: -100;
}


.menu__chart-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    background: var(--line);
    width: 55px;
    height: 45px;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 10%;
    transition: .5s;
    z-index: 1;
}

.menu__chart-menu span {
    height: 4px;
    width: 43px;
    background: var(--white);
}

.menu__chart-menu:focus {
    background: var(--chart-menu);
}

.menu__chart-menu:focus~.nav__menu {
    z-index: 1;
    background: #0e0e0e96;
}

.menu__chart-menu:focus~.nav__menu .nav__menu-chart .menu__chart-triangle {
    transition: .5s;
    transform-origin: center bottom;
    width: 0px;
    opacity: 1;
    z-index: 100;
}

.menu__chart-triangle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0%;
    bottom: 50%;
    width: 170px;
    transition: .5s;
    margin: 0 auto;
    opacity: 0;
    z-index: -100;
}

.triangle__circle {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 80px;
    background: var(--circle-bg);
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform-origin: center bottom;
    z-index: -99;
    overflow: hidden;
    margin-left: 60px;
    transition: .5s;
}

.triangle__circle-link {
    display: flex;
}

.circle__link-img {
    width: 60px;
    object-fit: contain;
    transform: rotate(0deg);
    z-index: 99;
}

.triangle__circle:after {
    content: '';
    position: absolute;
    font-family: var(--montserrat-r);
    font-size: 25px;
    line-height: 24px;
    color: var(--card-bg);
    z-index: 100;
    transition: .5s;

}

.triangle__circle:hover {
    transition: .5s;
    background: var(--circle-hover);
    /* background: url(menu_product-bg4.png);
    4, 8 - красивый фон
    к сожалению transition не работает при background-image */
}

.menu__chart-triangle:nth-child(1) .triangle__circle:hover::after {
    content: 'Часы';
    top: 105px;
    right: -35px;
}

.menu__chart-triangle:nth-child(2) .triangle__circle:hover::after {
    content: 'Кольца';
    transition: 0ms;
    transform: rotate(60deg);
    top: 105px;
    right: -50px;
}

.menu__chart-triangle:nth-child(3) .triangle__circle:hover::after {
    transition: 0ms;
    content: 'Серьги';
    transform: rotate(120deg);
    top: 108px;
    right: -50px;
}

.menu__chart-triangle:nth-child(4) .triangle__circle:hover::after {
    transition: 0ms;
    content: 'Браслеты';
    transform: rotate(180deg);
    top: 111px;
    right: -60px;
}

.menu__chart-triangle:nth-child(5) .triangle__circle:hover::after {
    transition: 0ms;
    content: 'Клатчи';
    transform: rotate(240deg);
    top: 108px;
    right: -44px;
}

.menu__chart-triangle:nth-child(6) .triangle__circle:hover::after {
    transition: 0ms;
    content: 'Цепочки';
    transform: rotate(300deg);
    top: 108px;
    right: -54px;
}

.nav__btns {
    display: flex;
    margin-left: auto;
    column-gap: 40px;
}

.nav__btn:first-child {
    font-family: var(--montserrat-r);
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--not-black);
}

.header__banner {
    text-align: center;
}

.header__banner .container {
    display: grid;
    grid-template: 294px 294px / 526px 746px;
    grid-template-areas: 'card1 card3'
        'card2 card3';
    column-gap: 24px;
    row-gap: 30px;
}

.card {
    display: flex;
    align-items: center;
    background: var(--card-bg);
    border-radius: 10px;
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    padding-left: 109px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.card::before {
    content: '50%';
    position: absolute;
    top: 16px;
    left: 22px;
    font-family: var(--montserrat-r);
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    color: var(--white);
    padding: 11px 39px;
    background: var(--not-black);
    border-radius: 10px;
}

/* .card:hover {
    transition: .5s ease-in-out;
    border: 5px solid var(--card-bg);
    background-color: #b5b1b100;
    border-top-left-radius: 100% 20px;
    border-bottom-right-radius: 100% 20px
} первый вариант */

.card:hover {
    filter: drop-shadow(30px 30px 30px rgba(132, 132, 132, 0.3));
}

.card .card__content {
    display: flex;
    flex-direction: column;
}

#card1 {
    grid-area: card1;
    column-gap: 43px;
}

#card1 .card__content {
    row-gap: 20.45px;
}

#card2 {
    grid-area: card2;
    column-gap: 12px;
}

#card2 .card__content {
    row-gap: 18.39px;
}

#card3 {
    grid-area: card3;
    column-gap: 24px;
}

#card3 .card__content {
    row-gap: 29.09px;
}

.card__img {
    object-fit: contain;
    max-width: 146px;
    width: 100%;
}

.card__content-desc {
    font-family: var(--montserrat-r);
    font-size: 16px;
    line-height: 20px;
    color: var(--not-black);
}

.card__content-title {
    font-family: var(--montserrat-b);
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--black);
}

.card__content-price {
    font-family: var(--montserrat-r);
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--not-black);
}

.card:nth-child(2) .card__content .card__content-desc,
.card:nth-child(2) .card__content .card__content-title {
    font-size: 15px;
    line-height: 18px;
}

.card:nth-child(2) .card__content .card__content-price,
.card:nth-child(3) .card__content .card__content-desc,
.card:nth-child(3) .card__content .card__content-price {
    font-size: 15px;
    line-height: 17px;
}

.card__img-big {
    max-width: 306px;
    width: 100%;
}

.card:nth-child(3) .card__content .card__content-title {
    font-size: 22px;
    line-height: 17px;
}

.card__btns-img {
    padding: 16px 16px;
}

.leaders__title:nth-child(1) {
    padding-bottom: 20px;
}

.leaders__cards .card .card__content .card__content-desc,
.leaders__cards .card .card__content .card__content-title {
    font-size: 20px;
    line-height: 24px;
}

.leaders__cards .card .card__content .card__content-price {
    font-size: 20px;
    line-height: 23px;
}

.leaders__cards .card__img {
    max-width: 200px;
    width: 100%;
}

.leaders__cards {
    display: grid;
    grid-template: repeat(4, 485px) / repeat(3, 416px);
    justify-content: center;
    column-gap: 24px;
    row-gap: 40px;
    padding-top: 40px;
}

.line::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    height: 2px;
    background: var(--black);
    border-radius: 0.5px;
}

.leaders__cards .card {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
    row-gap: 20px;
    position: relative;
}

.card__btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    top: 20px;
    right: 19px;
    column-gap: 20px
}

.leaders__cards .card .card__content {
    display: grid;
    row-gap: 20px;
}

.card__btns-img {
    border-radius: 10px;
    background: var(--white);
}

.leaders__cards .card::before {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
}

.leaders__cards .card:nth-child(1)::before {
    content: 'new';
}

.leaders__cards .card:nth-child(2)::before {
    content: '15%';
}

.leaders__cards .card:nth-child(3)::before,
.leaders__cards .card:nth-child(9)::before {
    content: '30%';
}

.leaders__cards .card:nth-child(4)::before,
.leaders__cards .card:nth-child(11)::before {
    content: '10%';
}

.leaders__cards .card:nth-child(5)::before,
.leaders__cards .card:nth-child(10)::before,
.leaders__cards .card:nth-child(12)::before {
    content: unset;
}

.leaders__cards .card:nth-child(6)::before {
    content: unset;
}

.leaders__cards .card:nth-child(7)::before {
    content: '50%';
}

.leaders__cards .card:nth-child(8)::before {
    content: '20%';
}

.leaders__more h2 {
    font-family: var(--montserrat-r);
    font-size: 30px;
    line-height: 37px;
    color: var(--not-black);
    text-align: center;
    margin: 60px;
}

.news__cards {
    display: grid;
    grid-template: 470px / repeat(2, 636px);
    justify-content: center;
    column-gap: 24px;
    padding-top: 40px;
    /* overflow-x: scroll; */
}

.title-before {
    margin-top: 30px;
}

.news__cards .card {
    display: flex;
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7));
    padding: 0;
    filter: unset;
    background: url(../img/banner_1.png) no-repeat center / cover;
    position: relative;
}

.news__cards .card:nth-child(2) {
    background: url(../img/banner_2.png) no-repeat center / cover;
}

.news__cards .card:hover {
    transform: scale(1.01);
}

.news__cards .card .card__content {
    padding: 0;
    margin: 110px 110px 60px 64px;
    row-gap: unset !important;
}

.news__cards .card::before {
    content: 'Советы';
    top: 20px;
    left: 20px;
    font-family: var(--montserrat-r);
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--not-black);
    padding: 13px 30px;
    background: var(--white);
    border-radius: 8px;
}

.news__title {
    padding-bottom: 30px;
}

.news__cards .card .card__content .card__content-title {
    font-family: var(--montserrat-b);
    font-size: 22px;
    line-height: 27px;
    font-variant: small-caps;
    text-transform: unset;
    color: var(--white);
    margin-bottom: 30px;
}

.news__cards .card .card__content .card__content-desc {
    max-width: 462px;
    width: 100%;
    font-family: var(--montserrat-r);
    font-size: 18px;
    line-height: 22px;
    font-variant: small-caps;
    color: var(--card-bg);
    margin-bottom: 100px;
}

.card__content-time {
    display: flex;
    column-gap: 10px;
}

.card__content-time p {
    font-family: var(--montserrat-r);
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--white);
}

footer {
    background: var(--not-black);
}

footer .container {
    display: flex;
    align-items: flex-start;
    padding: 100px 20px 87px;
}

.footer__service {
    margin-right: 160px;
}

.logo-title h1, .products__title, .contacts__title, .social__title {
    margin: 0 0 40px 0;
    color: var(--white);
}

.footer__products {
    margin-right: 217px;
}

.links, .contacts__box, .social__box {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.link {
    color: var(--white);
    transition: 500ms;
}

.link:hover {
    color: var(--link-hover);
}

.contacts__number-box {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.contacts__adress, .contacts__number, .contacts__email {
    font-variant: small-caps;
    text-transform: unset;
    color: var(--white);
    user-select: all;
}

.products__title, .contacts__title, .social__title {
    font-family: var(--montserrat-r);
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: var(--white);
}

.contacts__social {
    margin-top: 60px;
}

.social__box {
    display: flex;
    align-items: start;
    flex-direction: row;
    column-gap: 26px;
}